
.render{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    flex-direction: column;
    font-family: sans-serif;
}
.barra{
    display: flex;
    height: 76px;
    width: 100%;
    background-color: black;
}

.page{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    
}

.container1{
    display: flex;
    height: 800px;
    width: 100%;
    flex-direction: row;
    
    
    
}
.container2{
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: row;
    background-color:brown ;
    flex-direction: column;
    align-items: center;
    padding-top:30px ;
}

.s1{
    display: flex;
    width: 50%;
    height: 100%;
    background-color:green;
}

.s2{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    padding: 3% 5% 5% 3%;  
    
    
}
.titulo{
    text-align: left;
    font-weight: bolder;
    display: flex;
    height: 10%;
    width: auto;
    flex-direction: column;
    margin-bottom: 20px;    
}
.titulo a{
    width: 20%;
    margin: 0;
}

.precio{
    height: 15%;
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;

}
.precio h2{
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}
.divisor{
    border-top: 5px solid #000000;
}

.agendar{
    display: flex;
    flex-direction: row;
    height: 15%;
   
}
.botones{
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 10px 30px 0 0;
    justify-content: space-between;
}

.compra{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 10px 30px 0 0;
    justify-content: center;
    align-items: center;
}
.compra button{
    height: 90%;
    width: 300px;
    border-radius: 10px;
    background-color: #37383e;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    border: none;
}
.compra button:active{
    background-color: #74747b;
    transform: scale(0.95);
}

.btn{
    display: flex;
    flex-direction: column;
    width: 80px;
    padding: 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: white;

}
.btn:active{
    transform: scale(0.98);
    background-color: #cccccc ;
}

.preciob{
    height: 80px;
    width:  20%;
    background-color: #e3e8ff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    color: #1976d2;
    
}


.precio h3{
    font-family: sans-serif;
    font-weight: bold;
}

.titulo h1{
    font-family: sans-serif;
    font-weight: bold;
    
}

.desc{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.lower-banner {
    background-color: #1976d2;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    align-items: end;
  }

  .font{
    font-family: "Poppins", sans-serif;
  }

  .lower-banner .links {
    margin-bottom: 10px;
  }
  
  .lower-banner .links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .lower-banner .links a:hover {
    text-decoration: underline;
  }

