
.render{
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    flex-direction: row;
    font-family: "Poppins";
  
}

.containerl{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.containerr{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100vh;
    background-color: red;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60%;
    margin: 10% 20%;
 
    justify-content: center;
}   


