.render{
    display: flex;
}

.barra{
    background-color: #5800A7;
    width: 200px;
    height: auto; /* CAMBIAR ESTE VALOR PARA QUE LA BARRA MORADA SE VEA MAS LARGA O CHICA - 250vh*/
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo svg{
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.botonesbr{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.botonesbr:hover{
    background-color: #7B01D6;
}

.botonesbr svg{
    margin-right: 10px;
}

.perfil{
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.perfilcontainer{
    display: flex;
    gap: 20px;
}

.imagenperfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.imagenperfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nombres{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nombre{
    font-size: 24px;
    font-weight: bold;
}

.puntuacion{
    color: #5800A7;
    font-size: 18px;
    font-weight: bold;
}

.infopersonal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.titulo{
    font-size: 20px;
    font-weight: bold;
    color: #5800A7;
}

.infopersonalcontainer{
    display: flex;
    gap: 0px;
    align-items: center;
}

.icono{
    width: 24px;
    height: 24px;
}

.info{
    font-size: 16px;
    font-weight: bold;
}

.solicitudes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.solicitudescontainer{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.solicitud{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.imagensolicitud{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    overflow: hidden;
}

.imagensolicitud img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion{
    font-size: 14px;/*unico original*/
    max-width: 400px;
    text-align: justify;
}

.fecha{
    font-size: 12px;
    color: #5800A7;
}